<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="image"
      property="og:image"
      content="https://raw.githubusercontent.com/sucodelarangela/alura-geek/master//images/og-image.png"
    />
    <meta name="author" content="Angela Caldas" />
    <meta
      name="description"
      content="E-commerce page for an online store for geek products which will be developed as result of a Front-End Challenge (3rd edition) exclusively for students of Alura Tech School."
    />
    <link rel="icon" href="images/pacman.svg" type="image/icon type" />
    <title>Alura Geek | Produto</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/index.css" />
  </head>

  <body>
    <!-- Cabeçalho -->
    <header class="header container">
      <div>
        <a class="header__logo" href="/" id="header">
          <img
            class="header__logo--img"
            src="/images/logo.svg"
            alt="Loja Alura Geek"
          />
        </a>
        <label for="h__input" class="sr-only">
          Digite o que deseja encontrar
        </label>
        <input
          type="search"
          id="h__input"
          class="header__input"
          placeholder="O que deseja encontrar?"
        />
      </div>
      <a class="header__button button__void button" href="login">Login</a>
      <i class="header__search icon-search"></i>
    </header>

    <!-- Produto -->
    <main>
      <section class="product__image">
        <img src="/images/stormtrooper-mug.jpg" alt="" aria-hidden="true" />
      </section>

      <section class="product container">
        <img src="/images/stormtrooper-mug.jpg" alt="" aria-hidden="true" />
        <div>
          <h2>Produto XYZ</h2>
          <p>R$ 60,00</p>
          <p class="product__description">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore
            laboriosam nemo repellendus iure officia suscipit delectus eius esse
            eligendi cupiditate expedita eum quaerat, voluptatem similique!
            Commodi consequuntur voluptates voluptatem dignissimos.
          </p>
        </div>
      </section>

      <section class="products container">
        <div class="products__text">
          <h2>Produtos similares</h2>
        </div>
        <div class="products__card grid">
          <div>
            <img
              src="/images/xbox-one-white-controller.jpg"
              alt=""
              aria-hidden="true"
            />
            <h3>Controle XYZ</h3>
            <p>R$ 60,00</p>
            <a href="#">Ver produto</a>
          </div>
          <div>
            <img
              src="/images/vader-pilot-lego.jpg"
              alt=""
              aria-hidden="true"
            />
            <h3>Produto XYZ</h3>
            <p>R$ 60,00</p>
            <a href="#">Ver produto</a>
          </div>
          <div>
            <img src="/images/yoda-statue.jpg" alt="" aria-hidden="true" />
            <h3>Produto XYZ</h3>
            <p>R$ 60,00</p>
            <a href="#">Ver produto</a>
          </div>
          <div>
            <img
              src="/images/stormtrooper-figure.jpg"
              alt=""
              aria-hidden="true"
            />
            <h3>Produto XYZ</h3>
            <p>R$ 60,00</p>
            <a href="#">Ver produto</a>
          </div>
          <div>
            <img src="/images/baby-yoda.jpg" alt="" aria-hidden="true" />
            <h3>Produto XYZ</h3>
            <p>R$ 60,00</p>
            <a href="#">Ver produto</a>
          </div>
          <div>
            <img
              src="/images/kylo-figure.jpg"
              alt=""
              aria-hidden="true"
            />
            <h3>Produto XYZ</h3>
            <p>R$ 60,00</p>
            <a href="#">Ver produto</a>
          </div>
      </section>
    </main>

    <!-- Contato -->
    <section class="contact container">
      <div class="contact__links">
        <a class="contact__links--logo" href="#header">
          <img src="/images/logo.svg" alt="Loja Alura Geek" />
        </a>
        <ul>
          <li><a href="#">Quem somos nós</a></li>
          <li><a href="#">Política de privacidade</a></li>
          <li><a href="#">Programa fidelidade</a></li>
          <li><a href="#">Nossas lojas</a></li>
          <li><a href="#">Quero ser franqueado</a></li>
          <li><a href="#">Anuncie aqui</a></li>
        </ul>
      </div>

      <form action="" class="contact__form">
        <fieldset>
          <legend>Fale conosco</legend>
          <label for="name" class="sr-only">Escreva seu nome</label>
          <input
            id="name"
            type="text"
            class=""
            data-type="contact"
            maxlength="40"
            placeholder="Nome"
            required
          />
          <span role="alert"></span>
          <label for="message" class="sr-only">Escreva sua mensagem</label>
          <textarea
            name=""
            id="message"
            class=""
            data-type="contact"
            placeholder="Escreva sua mensagem"
            maxlength="120"
            required
          ></textarea>
          <span role="alert"></span>
          <button type="submit" class="button__blue button">
            Enviar mensagem
          </button>
        </fieldset>
      </form>
    </section>

    <!-- Rodapé -->
    <footer class="footer">
      <a
        href="https://angelacaldas.vercel.app"
        target="_blank"
        aria-labelledby="portfolio"
      >
        <i class="icon-logo"></i>
      </a>
      <p id="portfolio">
        Desenvolvido por Angela Caldas
        <span class="sr-only">(Ver portfolio)</span>
      </p>
      <p>2022</p>
    </footer>

    <script type="module" src="/scripts/forms.js"></script>
  </body>
</html>
