<section class="admin container">
  <!-- Adicionar produto -->
  <form action="#" method="POST" class="contact__form">
    <fieldset>
      <legend>Adicionar novo produto</legend>
      <div>
        <div class="drag__area">
          <p class="drag__area--text">
            Arraste para adicionar uma imagem para o produto
          </p>
        </div>
        <span>ou</span>
        <label for="product__image" class="product__image--label"></label>
        <input
          type="file"
          name="file"
          id="product__image"
          class="product__image--input"
          accept="image/*"
        />
      </div>
      <label for="product__name" class="sr-only">Nome do produto</label>
      <input
        type="text"
        name="product__name"
        id="product__name"
        placeholder="Nome do produto"
        data-type="name"
        required
      />
      <span role="alert"></span>
      <label for="product__price" class="sr-only">Preço do produto</label>
      <input
        type="text"
        name="product__price"
        inputmode="numeric"
        id="product__price"
        placeholder="Preço do produto"
        data-type="price"
        required
      />
      <span role="alert"></span>
      <label for="product__description" class="sr-only"
        >Descrição do produto</label
      >
      <textarea
        name="product__description"
        id="product__description"
        placeholder="Descrição do produto"
        data-type="description"
        required
      ></textarea>
      <span role="alert"></span>
      <label for="product__image--alt" class="sr-only"
        >Texto alternativo para a imagem</label
      >
      <textarea
        name="product__image--alt"
        id="product__image--alt"
        placeholder="Texto alternativo"
        data-type="alternate"
        required
      ></textarea>
      <span role="alert"></span>
      <label for="product__category" class="sr-only"
        >Categoria do produto</label
      >
      <select
        name="product__category"
        id="product__category"
        data-type="category"
        required
      >
        <option value="" selected disabled>Selecione uma categoria:</option>
        <option value="star-wars">Star Wars</option>
        <option value="videogames">Video Games</option>
        <option value="diversos">Diversos</option>
      </select>
      <span role="alert"></span>
      <button type="submit" class="button__blue button">
        Adicionar produto
      </button>
    </fieldset>
  </form>
</section>
