<section class="products container all">
  <div class="products__label">
    <div class="products__text--all">
      <h2>Todos os produtos</h2>
    </div>
    <div class="products__text--add">
      <a href="#" method="POST" class="button__blue button add">
        Adicionar produto
      </a>
    </div>
  </div>
  <div class="products__card--all grid">
    <div class="products__card--info">
      <img src="images/stormtrooper-mug.jpg" alt="" aria-hidden="true" />
      <h3>Produto XYZ</h3>
      <p>R$ 60,00</p>
      <h3 class="products__card--code">#1111111</h3>
      <div class="products__card--actions">
        <i class="icon-delete" data-id="1111111"></i>
        <i class="icon-edit" data-id="1111111"></i>
      </div>
    </div>
    <div class="products__card--info">
      <img src="images/vader-pilot-lego.jpg" alt="" aria-hidden="true" />
      <h3>Produto XYZ</h3>
      <p>R$ 60,00</p>
      <h3>#1111112</h3>
      <div class="products__card--actions">
        <i class="icon-delete" data-id="1111112"></i>
        <i class="icon-edit" data-id="1111112"></i>
      </div>
    </div>
    <div class="products__card--info">
      <img src="images/yoda-statue.jpg" alt="" aria-hidden="true" />
      <h3>Produto XYZ</h3>
      <p>R$ 60,00</p>
      <h3>#1111113</h3>
      <div class="products__card--actions">
        <i class="icon-delete" data-id="1111113"></i>
        <i class="icon-edit" data-id="1111113"></i>
      </div>
    </div>
    <div class="products__card--info">
      <img src="images/stormtrooper-figure.jpg" alt="" aria-hidden="true" />
      <h3>Produto XYZ</h3>
      <p>R$ 60,00</p>
      <h3>#1111114</h3>
      <div class="products__card--actions">
        <i class="icon-delete" data-id="1111114"></i>
        <i class="icon-edit" data-id="1111114"></i>
      </div>
    </div>
    <div class="products__card--info">
      <img src="images/baby-yoda.jpg" alt="" aria-hidden="true" />
      <h3>Produto XYZ</h3>
      <p>R$ 60,00</p>
      <h3>#1111115</h3>
      <div class="products__card--actions">
        <i class="icon-delete" data-id="1111115"></i>
        <i class="icon-edit" data-id="1111115"></i>
      </div>
    </div>
    <div class="products__card--info">
      <img src="images/kylo-figure.jpg" alt="" aria-hidden="true" />
      <h3>Produto XYZ</h3>
      <p>R$ 60,00</p>
      <h3>#1111116</h3>
      <div class="products__card--actions">
        <i class="icon-delete" data-id="1111116"></i>
        <i class="icon-edit" data-id="1111116"></i>
      </div>
    </div>
    <div class="products__card--info">
      <img
        src="images/xbox-one-white-controller.jpg"
        alt=""
        aria-hidden="true"
      />
      <h3>Controle XYZ</h3>
      <p>R$ 60,00</p>
      <h3>#1111117</h3>
      <div class="products__card--actions">
        <i class="icon-delete" data-id="1111117"></i>
        <i class="icon-edit" data-id="1111117"></i>
      </div>
    </div>
    <div class="products__card--info">
      <img
        src="images/ps5-white-with-controller.jpg"
        alt=""
        aria-hidden="true"
      />
      <h3>Controle e console XYZ</h3>
      <p>R$ 60,00</p>
      <h3>#1111118</h3>
      <div class="products__card--actions">
        <i class="icon-delete" data-id="1111118"></i>
        <i class="icon-edit" data-id="1111118"></i>
      </div>
    </div>
    <div class="products__card--info">
      <img src="images/nes-console.jpg" alt="" aria-hidden="true" />
      <h3>Console XYZ</h3>
      <p>R$ 60,00</p>
      <h3>#1111119</h3>
      <div class="products__card--actions">
        <i class="icon-delete" data-id="1111119"></i>
        <i class="icon-edit" data-id="1111119"></i>
      </div>
    </div>
    <div class="products__card--info">
      <img src="images/switch-controllers.jpg" alt="" aria-hidden="true" />
      <h3>Controle XYZ</h3>
      <p>R$ 60,00</p>
      <h3>#1111120</h3>
      <div class="products__card--actions">
        <i class="icon-delete" data-id="1111120"></i>
        <i class="icon-edit" data-id="1111120"></i>
      </div>
    </div>
    <div class="products__card--info">
      <img src="images/xbox-one.jpg" alt="" aria-hidden="true" />
      <h3>Controle XYZ</h3>
      <p>R$ 60,00</p>
      <h3>#1111121</h3>
      <div class="products__card--actions">
        <i class="icon-delete" data-id="1111121"></i>
        <i class="icon-edit" data-id="1111121"></i>
      </div>
    </div>
    <div class="products__card--info">
      <img src="images/gameboy.jpg" alt="" aria-hidden="true" />
      <h3>Game Boy Color</h3>
      <p>R$ 60,00</p>
      <h3>#1111122</h3>
      <div class="products__card--actions">
        <i class="icon-delete" data-id="1111122"></i>
        <i class="icon-edit" data-id="1111122"></i>
      </div>
    </div>
    <div class="products__card--info">
      <img src="images/atari-shirt.jpg" alt="" aria-hidden="true" />
      <h3>Camisa Atari</h3>
      <p>R$ 60,00</p>
      <h3>#1111123</h3>
      <div class="products__card--actions">
        <i class="icon-delete" data-id="1111123"></i>
        <i class="icon-edit" data-id="1111123"></i>
      </div>
    </div>
    <div class="products__card--info">
      <img src="images/nes-shirt.jpg" alt="" aria-hidden="true" />
      <h3>Camisa SNES</h3>
      <p>R$ 60,00</p>
      <h3>#1111124</h3>
      <div class="products__card--actions">
        <i class="icon-delete" data-id="1111124"></i>
        <i class="icon-edit" data-id="1111124"></i>
      </div>
    </div>
    <div class="products__card--info">
      <img src="images/sonic-tails-statue.jpg" alt="" aria-hidden="true" />
      <h3>Controle e console XYZ</h3>
      <p>R$ 60,00</p>
      <h3>#1111125</h3>
      <div class="products__card--actions">
        <i class="icon-delete" data-id="1111125"></i>
        <i class="icon-edit" data-id="1111125"></i>
      </div>
    </div>
    <div class="products__card--info">
      <img src="images/pink-clock-radio.jpg" alt="" aria-hidden="true" />
      <h3>Controle e console XYZ</h3>
      <p>R$ 60,00</p>
      <h3>#1111126</h3>
      <div class="products__card--actions">
        <i class="icon-delete" data-id="1111126"></i>
        <i class="icon-edit" data-id="1111126"></i>
      </div>
    </div>
    <div class="products__card--info">
      <img src="images/ps-vr.jpg" alt="" aria-hidden="true" />
      <h3>Controle e console XYZ</h3>
      <p>R$ 60,00</p>
      <h3>#1111127</h3>
      <div class="products__card--actions">
        <i class="icon-delete" data-id="1111127"></i>
        <i class="icon-edit" data-id="1111127"></i>
      </div>
    </div>
    <div class="products__card--info">
      <img src="images/pikachu-plush.jpg" alt="" aria-hidden="true" />
      <h3>Controle e console XYZ</h3>
      <p>R$ 60,00</p>
      <h3>#1111128</h3>
      <div class="products__card--actions">
        <i class="icon-delete" data-id="1111128"></i>
        <i class="icon-edit" data-id="1111128"></i>
      </div>
    </div>
  </div>
</section>
