<section class="login__error container">
  <img src="/images/mario-gif.gif" alt="" aria-hidden="true" />
  <h2 lang="en">Try Again!</h2>
  <p>Parece que seu usuário e/ou sua senha são inválidos. Tente novamente.</p>
</section>
