<!-- Banner -->
<section class="banner">
  <div class="banner__image"></div>
  <div class="banner__text">
    <h2>Páscoa Promocional</h2>
    <h3>Produtos selecionados com 33% de desconto</h3>
    <div class="banner__button">
      <a href="#consoles" class="button__blue button">Ver Consoles</a>
    </div>
  </div>
</section>

<!-- Destaque -->
<section class="products container highlight">
  <div class="products__text">
    <h2>Star Wars</h2>
    <a href="#">Ver tudo <i class="icon-arrow-right"></i></a>
  </div>
  <div class="products__card grid">
    <div>
      <img src="images/stormtrooper-mug.jpg" alt="" aria-hidden="true" />
      <h3>Produto XYZ</h3>
      <p>R$ 60,00</p>
      <a class="products__card--view" href="#" method="POST" data-id="1111111"
        >Ver produto</a
      >
    </div>
    <div>
      <img src="images/vader-pilot-lego.jpg" alt="" aria-hidden="true" />
      <h3>Produto XYZ</h3>
      <p>R$ 60,00</p>
      <a class="products__card--view" href="#" method="POST" data-id="1111112"
        >Ver produto</a
      >
    </div>
    <div>
      <img src="images/yoda-statue.jpg" alt="" aria-hidden="true" />
      <h3>Produto XYZ</h3>
      <p>R$ 60,00</p>
      <a class="products__card--view" href="#" method="POST" data-id="1111113"
        >Ver produto</a
      >
    </div>
    <div>
      <img src="images/stormtrooper-figure.jpg" alt="" aria-hidden="true" />
      <h3>Produto XYZ</h3>
      <p>R$ 60,00</p>
      <a href="#">Ver produto</a>
    </div>
    <div>
      <img src="images/baby-yoda.jpg" alt="" aria-hidden="true" />
      <h3>Produto XYZ</h3>
      <p>R$ 60,00</p>
      <a href="#">Ver produto</a>
    </div>
    <div>
      <img src="images/kylo-figure.jpg" alt="" aria-hidden="true" />
      <h3>Produto XYZ</h3>
      <p>R$ 60,00</p>
      <a href="#">Ver produto</a>
    </div>
  </div>
</section>

<!-- Consoles -->
<section class="products container" id="consoles">
  <div class="products__text">
    <h2>Consoles</h2>
    <a href="#">Ver tudo <i class="icon-arrow-right"></i></a>
  </div>
  <div class="products__card grid">
    <div>
      <img
        src="images/xbox-one-white-controller.jpg"
        alt=""
        aria-hidden="true"
      />
      <h3>Controle XYZ</h3>
      <p>R$ 60,00</p>
      <a href="#">Ver produto</a>
    </div>
    <div>
      <img
        src="images/ps5-white-with-controller.jpg"
        alt=""
        aria-hidden="true"
      />
      <h3>Controle e console XYZ</h3>
      <p>R$ 60,00</p>
      <a href="#">Ver produto</a>
    </div>
    <div>
      <img src="images/nes-console.jpg" alt="" aria-hidden="true" />
      <h3>Console XYZ</h3>
      <p>R$ 60,00</p>
      <a href="#">Ver produto</a>
    </div>
    <div>
      <img src="images/switch-controllers.jpg" alt="" aria-hidden="true" />
      <h3>Controle XYZ</h3>
      <p>R$ 60,00</p>
      <a href="#">Ver produto</a>
    </div>
    <div>
      <img src="images/xbox-one.jpg" alt="" aria-hidden="true" />
      <h3>Controle XYZ</h3>
      <p>R$ 60,00</p>
      <a href="#">Ver produto</a>
    </div>
    <div>
      <img src="images/gameboy.jpg" alt="" aria-hidden="true" />
      <h3>Game Boy Color</h3>
      <p>R$ 60,00</p>
      <a href="#">Ver produto</a>
    </div>
  </div>
</section>

<!-- Diversos -->
<section class="products container miscellaneous">
  <div class="products__text">
    <h2>Diversos</h2>
    <a href="#">Ver tudo <i class="icon-arrow-right"></i></a>
  </div>
  <div class="products__card grid">
    <div>
      <img src="images/atari-shirt.jpg" alt="" aria-hidden="true" />
      <h3>Camisa Atari</h3>
      <p>R$ 60,00</p>
      <a href="#">Ver produto</a>
    </div>
    <div>
      <img src="images/nes-shirt.jpg" alt="" aria-hidden="true" />
      <h3>Camisa SNES</h3>
      <p>R$ 60,00</p>
      <a href="#">Ver produto</a>
    </div>
    <div>
      <img src="images/sonic-tails-statue.jpg" alt="" aria-hidden="true" />
      <h3>Controle e console XYZ</h3>
      <p>R$ 60,00</p>
      <a href="#">Ver produto</a>
    </div>
    <div>
      <img src="images/pink-clock-radio.jpg" alt="" aria-hidden="true" />
      <h3>Controle e console XYZ</h3>
      <p>R$ 60,00</p>
      <a href="#">Ver produto</a>
    </div>
    <div>
      <img src="images/ps-vr.jpg" alt="" aria-hidden="true" />
      <h3>Controle e console XYZ</h3>
      <p>R$ 60,00</p>
      <a href="#">Ver produto</a>
    </div>
    <div>
      <img src="images/pikachu-plush.jpg" alt="" aria-hidden="true" />
      <h3>Controle e console XYZ</h3>
      <p>R$ 60,00</p>
      <a href="#">Ver produto</a>
    </div>
  </div>
</section>
