<section class="login__error container">
  <img src="/images/mario-gif.gif" alt="" aria-hidden="true" />
  <h2 lang="en">Try Again!</h2>
  <p>
    Parece que você não digitou uma senha válida ou a senha não confere com
    nossos registros.
  </p>
</section>
