.admin .contact__form legend {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.5625rem;
  margin-bottom: 1rem;
}

.drag-n-drop,
span {
  display: none;
}

input[type='file'] {
  display: none;
}

.product__image--label {
  display: flex;
  justify-content: center;
  height: 8.375rem;
  padding-top: 5rem;
  background: var(--white);
  color: var(--black-50);
  margin-bottom: 1rem;
  border: 1px dashed var(--black-30);
  background-image: url('/assets/images/plus.svg');
  background-repeat: no-repeat;
  background-position: center 40%;
  cursor: pointer;
}
.product__image--label::after {
  content: 'Adicionar uma imagem para o produto';
}

.admin .contact__form input {
  color: var(--black);
  background: var(--white);
}

.admin .contact__form textarea {
  margin-bottom: 1rem;
}

.admin .contact__form button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .admin.container {
    padding: 2rem 2rem;
  }

  fieldset > div {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  .drag-n-drop {
    display: inline-block;
    width: 16rem;
    height: 9.5rem;
    background: var(--white);
    border: 1px dashed var(--black-30);
    text-align: center;
    padding: 2rem;
    padding-top: 5rem;
    background-image: url('/assets/images/img-upload.svg');
    background-repeat: no-repeat;
    background-position: center 25%;
  }

  .drag-n-drop::after {
    content: 'Arraste para adicionar uma imagem para o produto';
    font-size: 0.875rem;
    color: var(--black-80);
  }

  span {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5rem;
    color: var(--black);
  }

  .product__image--label {
    display: block;
    width: auto;
    height: auto;
    padding: 1rem;
    background: transparent;
    color: var(--blue);
    text-align: center;
    border: 1px solid var(--blue);
    cursor: pointer;
    margin: 0;
  }

  .product__image--label::after {
    content: 'Procure no seu tablet';
    font-size: 1rem;
  }
}

@media screen and (min-width: 1440px) {
  .admin.container {
    padding: 4rem 9.5rem;
  }

  .admin .contact__form {
    width: 50%;
    margin: 0 auto;
  }

  .drag-n-drop {
    width: auto;
  }

  .product__image--label {
    width: auto;
    white-space: nowrap;
  }

  .product__image--label::after {
    content: 'Procure no seu computador';
    font-size: 1rem;
  }
}
