* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  /* Fonts */
  --raleway: 'Raleway', sans-serif;

  /* Colors */
  --white: #ffffff;
  --blue: #2a7ae4;
  --blue-10: #eaf2fd;
  --black: #464646;
  --black-5: #f5f5f5;
  --black-30: #c8c8c8;
  --black-50: #a2a2a2;
}

/* Elements */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--white);
  height: 100vh;
}

body,
input,
textarea,
button {
  font-family: var(--raleway);
}

i {
  font-size: 1.5rem;
}

.container {
  padding: 1rem;
}

.section {
  background: var(--black-5);
}

.grid {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, 9.75rem);
  grid-template-rows: auto;
  gap: 1rem;
  padding: 1rem 0 0;
}

.button {
  font-size: 0.875rem;
  font-weight: 600;
}

.button__void {
  color: var(--blue);
  background: transparent;
  border: 1px solid var(--blue);
  padding: 0.75rem 2.97rem;
}

.button__blue {
  color: var(--white);
  background: var(--blue);
  border: 1px solid var(--blue);
  padding: 0.75rem 1rem;
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__logo--img {
  width: 6.25rem;
}

.header__search {
  color: var(--black);
}

/* Contact */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--blue-10);
}

.contact__links {
  margin-bottom: 2rem;
}

.contact__logo--img {
  width: 11rem;
}

.contact li {
  list-style: none;
  text-align: center;
  color: var(--black);
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.contact li:last-child {
  margin: 0;
}

form legend {
  font-size: 1rem;
  color: var(--black);
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.contact__form input,
.login__form input,
.contact__form textarea {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
  color: var(--black);
  background: var(--white);
  border-radius: 0.25rem;
  box-shadow: 0 1px 0 var(--black-30);
}

.contact__form input {
  padding: 0.5rem 0.75rem;
  padding-top: 1.75rem;
  margin-bottom: 1rem;
  position: relative;
}

.contact__form textarea {
  resize: none;
  padding: 1rem 0.75rem;

  margin-bottom: 0.5rem;
  min-height: 5.125rem;
}

.contact__form label {
  font-size: 0.75rem;
  color: var(--black-50);
  margin-top: 0.5rem;
  margin-left: 0.75rem;
  position: absolute;
  z-index: 1;
}

::placeholder {
  font-size: 1rem;
  color: var(--black-50);
}

/* Footer */
.footer {
  padding: 2rem;
}

.footer,
.footer a {
  background: var(--white);
  text-align: center;
  align-items: center;
  color: var(--black);
  transition: 0.3s;
}

.footer a:hover,
.footer a:focus {
  color: var(--blue);
}
