* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  /* Fonts */
  --raleway: 'Raleway', sans-serif;

  /* Colors */
  --white: #ffffff;
  --blue: #2a7ae4;
  --blue-10: #eaf2fd;
  --black: #464646;
  --black-5: #f5f5f5;
  --black-30: #c8c8c8;
  --black-50: #a2a2a2;
  --black-80: #6b6b6b;
}

/* Elements */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--white);
  height: 100vh;
}

section {
  background: var(--black-5);
}

body,
input,
textarea,
button {
  font-family: var(--raleway);
}

input,
textarea {
  font-size: 1rem;
  color: var(--black);
  border-radius: 0.25rem;
  box-shadow: 0 1px 0 var(--black-30);
  padding: 1rem 0.75rem;
}

button,
a {
  cursor: pointer;
}

h2 {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.5625rem;
  padding-bottom: 0.5rem;
}

h3,
a {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1rem;
  padding-bottom: 0.5rem;
}

i {
  font-size: 1.5rem;
}

.container {
  padding: 1rem;
}

.grid {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;
  padding: 1rem 0 0;
}

.button {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1rem;
  padding: 0.75rem 1rem;
}

.button__void {
  color: var(--blue);
  background: transparent;
  border: 1px solid var(--blue);
}

.button__blue {
  color: var(--white);
  background: var(--blue);
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

fieldset {
  width: 100%;
}

form legend {
  font-size: 1rem;
  color: var(--black);
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.login__form input {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
  color: var(--black);
  background: var(--white);
  border-radius: 0.25rem;
  box-shadow: 0 1px 0 var(--black-30);
}

::placeholder {
  font-size: 1rem;
  color: var(--black-50);
}

/* Footer */
.footer {
  padding: 2rem;
}

.footer,
.footer a {
  background: var(--white);
  text-align: center;
  align-items: center;
  color: var(--black);
  transition: 0.3s;
}

.footer a:hover,
.footer a:focus {
  color: var(--blue);
}
