/* Footer */
.footer {
  padding: 2rem;
}

.footer,
.footer a {
  background: var(--white);
  text-align: center;
  color: var(--black);
  transition: 0.3s;
}

.footer a:hover,
.footer a:focus {
  color: var(--blue);
}
