/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__logo--img {
  width: 6.25rem;
}

.header__search {
  color: var(--black);
  cursor: pointer;
}

.header__button {
  padding: 0.75rem 2.97rem;
}
