/* ========== IMPORTS ========== */
@import url(base.css);
@import url(../icons/icons.css);
@import url(header.css);
@import url(banner.css);
@import url(products.css);
@import url(contact.css);

/* ========== INDEX.HTML ========== */

.all__products img {
  min-width: 9.75rem;
  width: 100%;
  height: 10.875rem;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.product h1 {
  font-size: 1.375rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.all__products h3 {
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: var(--black);
}

.all__products div h3:last-child {
  margin: 0;
}

.product p,
.all__products p {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--black);
}

/* ========== LOGIN.HTML ========== */
.section.form {
  padding: 6rem 2.5rem;
}

.login__form legend {
  text-align: center;
}

.login__form input {
  padding: 1rem 0.75rem;
  margin-bottom: 1rem;
}

.login__form .button {
  display: block;
  margin: 0 auto;
  padding: 0.75rem 2.125rem;
}

/* ========== PRODUCT PAGE ========== */
.product__image {
  width: 100%;
  height: 50vw;
  max-height: 16.25rem;
}

.product__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product h1 {
  font-weight: 500;
}

.product .product__description {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--black);
}

/* ========== ALL PRODUCTS PAGE ========== */
.all__products h2 {
  padding-bottom: 1rem;
}
.add__product {
  display: flex;
}

/* ========== ADMIN ========== */
.admin.button__void {
  padding: 0.75rem 1rem;
}

.admin .contact__form .button__blue {
  display: flex;
  justify-content: center;
  width: 100%;
}
