/* ========== INDEX.HTML ========== */
.banner {
  position: relative;
}

.banner__image {
  width: 100%;
  height: 50vw;
  max-height: 22rem;
  box-shadow: inset 0 0 150rem black;
  background: url('/assets/images/banner.jpg') center;
  background-size: cover;
}

.banner__text {
  position: absolute;
  left: 1rem;
  bottom: 2rem;
  color: var(--white);
}

.banner__text h1 {
  font-size: 1.375rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.banner__text h2 {
  font-size: 0.875rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.banner__button {
  padding-top: 0.5rem;
}

.section__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section__text h2 {
  color: var(--black);
  font-size: 1.375rem;
  font-weight: 700;
}

.section__text a {
  font-size: 0.875rem;
  color: var(--blue);
  font-weight: 700;
}

.section__text a > i {
  font-size: 1rem;
  color: var(--blue);
}

.products img {
  width: 9.75rem;
  height: 10.875rem;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.products h3 {
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.products p,
.products a {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.products a {
  color: var(--blue);
}

/* ========== LOGIN.HTML ========== */
.section.form {
  padding: 6rem 2.5rem;
}

.login__form legend {
  text-align: center;
}

.login__form input {
  padding: 1rem 0.75rem;
  margin-bottom: 1rem;
}

.login__form .button {
  display: block;
  margin: 0 auto;
  padding: 0.75rem 2.125rem;
}
