.products .products__card div:nth-child(n + 5) {
  display: none;
}

.products__text,
.products__text--add {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products__text h2,
.products__text--all h2 {
  color: var(--black);
  padding: 0;
}

.products__text--all h2 {
  margin-bottom: 1rem;
}

.products__text a,
.products__card a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--blue);
  padding: 0;
}

.products__text a i {
  font-size: 1rem;
}

.products__card img,
.products__card--all img {
  min-width: 9.75rem;
  width: 100%;
  height: 10.875rem;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.products__card h3,
.products__card--all h3 {
  color: var(--black);
  font-weight: 500;
}

.products__card p,
.products__card--all p {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.125rem;
  color: var(--black);
  padding-bottom: 0.5rem;
}

.products__card--all div h3:last-child {
  padding: 0;
}

.products__card--info {
  position: relative;
}

.products__card--actions {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 1;
}

.products__card--actions i {
  cursor: pointer;
  color: var(--white);
}

.icon-delete {
  margin-right: 1rem;
}

/* ========== SINGLE PRODUCT PAGE ========== */

.product img {
  display: none;
}

.product h1 {
  font-size: 1.375rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.product p,
.all__products p {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--black);
}

.product__image {
  height: 50vw;
  max-height: 16.25rem;
}

.product__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product h2 {
  font-weight: 500;
  color: var(--black);
}

.product .product__description {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--black);
}

@media screen and (min-width: 768px) {
  .products__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .products__text--all h2 {
    margin: 0;
  }

  .products__text a,
  .products__card a {
    font-size: 1rem;
  }

  .products__text a i {
    font-size: 1.5rem;
  }

  .product__image {
    display: none;
  }

  .product.container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 30vw;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .product img {
    display: inline-block;
    width: 36%;
    object-fit: cover;
  }
}

@media screen and (min-width: 1440px) {
  .products .products__card div:nth-child(n + 5) {
    display: grid;
  }

  .product.container {
    height: 30vw;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .product img {
    width: 100%;
    max-height: 25rem;
    object-fit: cover;
  }

  .product div {
    width: auto;
  }

  .product h2 {
    font-size: 3.25rem;
  }

  .product .product__description {
    font-size: 1rem;
  }
}
