.admin .contact__form legend {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.5625rem;
  margin-bottom: 1rem;
}

.drag-n-drop,
span {
  display: none;
}

input[type='file'] {
  display: none;
}

.product__image--label {
  display: flex;
  justify-content: center;
  height: 8.375rem;
  padding-top: 5rem;
  background: var(--white);
  color: var(--black-50);
  margin-bottom: 1rem;
  border: 1px dashed var(--black-30);
  background-image: url('/images/plus.svg');
  background-repeat: no-repeat;
  background-position: center 40%;
  cursor: pointer;
}
.product__image--label::after {
  content: 'Adicionar uma imagem para o produto';
}

.admin .contact__form input {
  color: var(--black);
  background: var(--white);
}

.admin .contact__form textarea {
  margin-bottom: 1rem;
}

.admin .contact__form button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}
